
// Config
// ------------------------------------------------------------------------ //

$input_border_size      : (1 * 1px);
$input_border_color     : $black40;
$input_padding          : ($space / 3);
$input_bg               : #fff;
$input_disabled_color   : #A8A8A8;


// Base style
// ------------------------------------------------------------------------ //

legend {
    margin-bottom: ($space / 2);
}

// Fix small bullet on Webkit
// http://goo.gl/WgqfpM
input[type="password"] {
    font: small-caption;
    font-size: 1em;
}

// Hide input type number spinner
// http://goo.gl/lcCQgB
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form__row {
    margin-bottom: ($space / 2);
}

.form-label {
    display: block;
    margin-top: ($space / 3);
}

.form-input {
    padding: $input_padding;
    border: solid $input_border_size $input_border_color;
    font-family: inherit;
    background: $input_bg;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

    &:focus {
        border-color: #2669d3;
        outline: none;
    }

    &[disabled] {
        color: $input_disabled_color;
        cursor: not-allowed;

        // Fix iOS color for being too opaque
        // https://github.com/ImBobby/suit-baze/issues/98
        -webkit-text-fill-color: $input_disabled_color;
    }

    @at-root select#{&} {

    }
}


// Modifier
// ------------------------------------------------------------------------ //

.form__row--block {
    margin-top: 0.6em;
    margin-bottom: 0;
    position: relative;
}

.form-input--error {
    border-color: #d32c31;

    &:focus {
        border-color: #d32c31;
    }
}

.form-input--success {
    border-color: #4eb74a;

    &:focus {
        border-color: #4eb74a;
    }
}

.form-input--block {
    width: 100%;
}

.form-input--small {
    padding-top: 8px;
    padding-bottom: 5px;
}

.form-input--brown {
    background-color: #B9B5AC;
    &:focus {
        border-color: transparent;
    }
}

.form-input--overlay {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
    // opacity: 0.9;
    left: 0;
    border-radius: 0;
    // background-color: $lightBrown;
    min-height: 52px;
    margin-top: 0;
    .form-input--overlay-close {
        position: absolute;
        right: 10px;
        top: 50%;
        cursor: pointer;
        z-index: 7;
        transform: translateY(-50%);
    }
}

#formSearch:target {
    display: block;
}
