
.media {
    display: flex;
    align-items: flex-start;
}

.media-figure {
    margin-right: ($space / 2);
}

.media-content {
    flex: 1;
    min-width: 0;
}


// Modifier
//----------------------------------------------------------------------------------//

.media-figure--small {
    max-width: 70px;
}

.media-figure--smaller {
    max-width: 40px;
}
