@import "mq";
@import "brandscolor";

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: 114%; opacity: 0;}
    to {top: 100%; opacity: 1;}
}

@keyframes animatetop {
    from {top: 114%; opacity: 0;}
    to {top: 100%; opacity: 1;}
}

@mixin animate-transisi {
  transition: .5s ease all;
}

@mixin rounded-corners {
  $rounded-corner-radius: 4px;
  border-radius: $rounded-corner-radius;
}
