
// List helper
// ------------------------------------------------------------------------ //

.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inline > li {
    display: inline-block;
}

ol.number {
    list-style: none;
    overflow: hidden;
    counter-reset: numList;
    padding-left: 26px;
    li {
        padding: 6px 0;
        position: relative;
        &::before {
            background: $brown;
            color: $black10;
            content: counter(numList);
            counter-increment: numList;
            float: left;
            font: bold 12px 'PT_SansRegular', sans-serif;
            left: -26px;
            line-height: 21px;
            position: absolute;
            text-align: center;
            top: 7px;
            height: 18px;
            width: 18px;
        }
    }
}


// Typography helper
// ------------------------------------------------------------------------ //

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-ellipsis {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.small {
    font-size: .9em;
}


// Visual helper
// ------------------------------------------------------------------------ //

.clearfix:after,
.cf:after {
    display: table;
    clear: both;
    content: '';
}

.hidden {
    display: none !important;
}

.visuallyhidden,
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.invisible {
    visibility: hidden;
}

.rounded-border {
    @include rounded-corners;
}

.msg-error {
    display: block;
}

.linetrough {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid $grey;
    height: 2px;
    width: 100%;
    max-width: 100%;
    top: 50%;
    margin-left: $space * .7;
  }
}

.border-right {
    @media #{$medium} {
        border-right: 1px solid $grey;
    }
}

.hidden-tablet {
    display: none;
    visibility: hidden;
    @media #{$medium} {
        display: block;
        visibility: visible;
    }
}

.hidden-desktop {
    display: block;
    visibility: visible;
    @media #{$medium} {
        display: none;
        visibility: hidden;
    }
}


// Modal Box
// ------------------------------------------------------------------ //

.modal-box {
    display: none;
    position: absolute;
    width: percentage(780px / 960px);
    background: $black10;
    margin: 0 auto;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media #{$medium} {
        width: percentage(400px / 960px);
    }
}

.modal-box .modal-content {
    background-color: $black10;
    position: relative;
    padding: $space;
    .modal-header {
        .close {
            background-color: $orange;
            color:$black10;
            cursor: pointer;
            font-size: 20px;
            max-height: 25px;
            max-width: 25px;
            padding: 2px 8px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -12px
        }
    }
    .modal-body {}
    .modal-footer {
        border-top: 1px solid $grey;
    }
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.51);
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}
