
// Typography
// ------------------------------------------------------------------------ //

$base_font_size     : 13px;
$base_line_height   : 1.6em;
$base_font_family   : 'PT_SansRegular', sans-serif;
$head_font_family   : 'PT_SansBold', sans-serif;
$space              : $base_line_height;



// Colors
// ------------------------------------------------------------------------ //

$black              : #222;
$black90            : lighten($black, 10%);
$black80            : lighten($black, 20%);
$black70            : lighten($black, 30%);
$black60            : lighten($black, 40%);
$black50            : lighten($black, 50%);
$black40            : lighten($black, 60%);
$black30            : lighten($black, 70%);
$black20            : lighten($black, 80%);
$black10            : lighten($black, 90%);

$brown              : #635C53;
$darkerBrown        : #47423c;
$lightBrown         : #71695F;
$grey               : #EEEEEE;
$green              : #33B95A;
$orange             : #FF5F2D;

// $link               : #0094ed;
$link               : $lightBrown;
$link_hover         : darken($link, 10%);

$selection_bg       : #b3d4fc;
$selection_color    : $black;



// Break Points
// ------------------------------------------------------------------------ //

$small              : "screen and (min-width: 20em)";
$small_portrait     : "screen and (min-width: 20em) and (orientation: portrait)";
$small_landscape    : "screen and (min-width: 20em) and (orientation: landscape)";

$medium             : "screen and (min-width: 48em)";
$medium_portrait    : "screen and (min-width: 48em) and (orientation: portrait)";
$medium_landscape   : "screen and (min-width: 48em) and (orientation: landscape)";

$large              : "screen and (min-width: 64em)";

$retina             : "(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 1.25dppx), (min-resolution: 120dpi)";









