/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer
@import "mixin/mixin";

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //

@font-face {
    font-family: 'PT_SansBold';
    src: url('../fonts/pt_sans-web-bold-webfont.eot');
    src: url('../fonts/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-bold-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT_SansRegular';
    src: url('../fonts/pt_sans-web-regular-webfont.eot');
    src: url('../fonts/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-regular-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;
    @include animate-transisi;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

main {
    z-index: 1;
    padding-top: $space * 1.5;
}

.header-xsmall {
    font-size: 1em;
    margin-bottom: .3em;
}

.header-small {
    font-size: 1.3333em;
}

.header-medium {
    font-size: 1.65689em;
}

.header-large {
    font-size: 2.36859em;
}

.list-komen {
    margin-bottom: $space;
}

.vote-content {
    font-size: 12px;
    a {
        background-color: $grey;
        @include animate-transisi;
        color: $darkerBrown;
        padding: 6px 4px 3px;
        cursor: pointer;
        &:hover {
            &.upvote {
                color: $black10;
                background-color: $green;
            }
            &.downvote {
                color: $black10;
                background-color: $orange;
            }
        } // end a hover
    }
}

.voted {
    a {
        cursor: default;
    }
    .votedup {
        color: $black10;
        background-color: $green;
    }
    .voteddown {
        color: $black10;
        background-color: $orange;
    }
}

.forum-reply-comment {
    margin-top: $space;
    margin-bottom: $space;
}


// 3 Header
// ------------------------------------------------------------------------ //

header {
    z-index: 3;
}

.site-header {
    color: $black10;
    background-color: $brown;
    a {
        color: $black10;
    }
    .logo {
        padding: ($space / 2.4) 0;
        margin-bottom: 0;
    }
}

.site-nav {
    li.dropdown {
        position: relative;
        &:hover {
            .dropdown-menu {
                display: block;
                animation-name: animatetop;
                animation-duration: 0.5s;
            }
        }
        .dropdown-menu {
            display: none;
            z-index: 1;
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 200px;
            background-color: $darkerBrown;
        }
    }
    a {
        display: block;
        padding: ($space / 1.3) ($space / 4);
        @media #{$medium} {
            padding: ($space / 1.3) ($space / 2);
        }
        &:hover {
            background-color: $black90;
        }
    }
}

/* nav icon */
.nav-icon {
    display: block;
    @media #{$medium} {
        display: none;
    }
}

.nav-icon--white-brown {
    color: $black10;
    @media #{$medium} {
        color: $brown;
    }
}

.nav-icon--float-right {
    // position: relative;
        position: absolute;
    top: 50%;
    right: $space*2;
    // transform: translateY(0);
        transform: translateY(-50%);
    // padding: $space/2.4 0;
        padding: 0;
    display: block;
    cursor: pointer;
    z-index: 2;
    @media #{$medium} {
        right: $space/2.2;
    }
}

.nav-text {
    display: none;
    @media #{$medium} {
        display: block;
    }
}

.nav-icon--search {
    padding: ($space / 1.3) ($space / 4);
}


// 4 Page styles
// ------------------------------------------------------------------------ //


// 5 Footer
// ------------------------------------------------------------------------ //

footer {
    z-index: 2;
}


//
// ------------------------------------------------------------------------ //



// @media screen and (min-width: 20em) {
//     .nav-icon {
//         display: none;
//     }
// }
